.container {
    width: min(100%, 1440px);
    margin: auto;
}
/* header */
header {
    max-width: inherit;
    width: inherit;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #012426;
    padding: 16px 94px;
    justify-content: space-between;
    align-items: center;
}
.fa-bars {
    display: none;
}
header, .header_ul, .header_icons {
    display: flex;
}
.header_ul {
    column-gap: 68px;
}
.header_nav {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #A1C3C9;
}
.header_li:hover {
    scale: 1.1;
}
.logo_link {
    transition: all 0.2s linear;
}
.logo_link:hover {
    scale: 1.2;
}
.header_icons {
    column-gap: 28px;
}
.fa-magnifying-glass {
    font-size: 13px;
    padding: 14px;
}
.fa-cart-shopping {
    font-size: 24px;
    padding: 8px;
}
.fa-user {
    font-size: 13px;
    padding: 14px;
}
.fa-magnifying-glass , .fa-cart-shopping, .fa-user {
    border-radius: 8px;
    color: #05BCCA;
    border: 2px solid #05BCCA;
}
.link_icons:hover {
    scale: 1.1;
}
/* section2 (cover) */
.cover{
    margin-top: 99px;
    height: 560px;
    background-image: url(../img/Rectangle\ 12.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    object-fit: cover;
    display: flex;
    justify-content: center;
}
.cover_title {
    display: flex;
    column-gap: 20px;
    height: 36px;
    align-items: center;
    margin-top: 72px;
}
.title_text, .span_cover {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #ffffff;
}
.span_cover {
    color: #05BCCA;
}
.arrow {
    width: 36px;
    height: 24px;
}
.arrow:hover {
    scale: 1.1;
}
/* section3 (products) */
.products {
    padding: 96px 0 96px 94px;
    background-color: #1A1A1A;
    text-align: center;
}

.title_products {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    color: #05BCCA;
}
.title_products::after {
    content: "";
    width: 187.27px;
    height: 2px;
    margin-inline: auto;
    border-radius: 2px;
    background-color: #05BCCA;
    display: block;
    margin-top: 8px;
}
.cards_container {
    display: flex;
    column-gap: 16px;
    margin-top: 64px;
    overflow-x: scroll;
    scrollbar-width: none;
}
.card123 {
    padding: 8px 8px 16px 8px;
    background-color: #2C4246;
    width: 298px;
    height: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    border: 1px solid #05BCCA;
}
.card123:hover {
    box-shadow: 0 0 8px 4px #05bccacc;
    cursor: pointer;
}
.card_img {
    width: 100%px;
    height: 290px;
}
.card_p {
    text-align: left;
    font-weight: 700;
    color: #D9D9D9
}
.card_p, .price {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 27px;

}
.review_price, .div_price  {
    display: flex;
    align-items: center;
}
.review_price {
    column-gap: 132px;
}
.div_price {
    column-gap: 4px;
}
.price {
    font-weight: 400;
    color: #05BCCA;
}
/* footer */
footer {
    display: flex;
    background-color: #2C4246;
    padding: 48px 306px;
    justify-content: space-between;
    align-items: start;
}
h4 {
    font-size: 24px;
    line-height: 32px;
} 
h4::after {
    content: "";
    width: 80px;
    height: 2px;
    border-radius: 2px;
    background-color: #D9D9D9;
    display: block;
    margin-block: 4px 24px;
}
h4, .link_li_foot {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #D9D9D9;
}
.footer_ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.link_li_foot {
    line-height: 24px;
}
.social_icons {
    display: flex;
    column-gap: 12px;
    margin-top: 8px;
}
.fa-square-facebook, .fa-whatsapp, .fa-square-instagram {
    font-size: 24px;
    color: #D9D9D9;
}